* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    width: 120px;
    height: auto;
    z-index: 10;
}

.logo img {
    width: 100%;
    height: auto;
}

.menu-toggle {
    background-color: white;
    border: #012e58 1px solid;
    color: #012e58;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    place-content: center;
    z-index: 10;
}

.nav-links {
    top: -100vh;
    position: fixed;
    height: 100vh;
    background-color: white;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    transition: top 0.5s ease-in-out;
}

.nav-links.active {
    top: 0px;
    padding-top: 140px;
}

.nav-links li {
    margin: 20px 0;
    font-size: 1.2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

@media (min-width: 600px) {

    nav {
        padding: 40px;
    }

    .menu-toggle {
        display: none;
    }

    .nav-links {
        flex-direction: row;
        justify-content: flex-end;
        position: static;
        height: auto;
        gap: 20px;
    }
}